.joinBoxWrapper {
  background-color: #f0f0f0;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.joinBox {
  width: 430px;
  height: 400px;
  display: grid;
  padding: 20px 15px;
  gap: 15px;
  border: 2px solid rgb(237, 234, 234);
  border-radius: 10px;
  box-shadow: 0 0 15px 15px rgb(180, 180, 180);
  background-color: FFF7F1;
}

.joinBoxBtn {
  padding: 8px 15px;
  color: black;
  background-color: #ff9a00;
  border: 1px solid #ffdd00;
  outline: none;
  border-radius: 10px;
  font-size: 75%;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.45s ease-in-out 0.05s;
}
.joinBoxBtn:hover {
  color: white;
  background-color: #ff7d29;
}

.joinBoxInput {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #eee2de;
  border: none;
  outline: none;
  font-weight: bold;
}

.joinBoxInputWrapper {
  width: 100%;
  display: grid;
  gap: 5px;
}

.joinBoxWarning {
  height: 10px;
  font-size: small;
  color: red;
}

.codeRoomLink {
  cursor: pointer;
  color: #fc4100;
  font-weight: bold;
}

.codeRoomLink:hover {
  color: #ff204e;
}
